<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <div class="user_email">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="user_password">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Log in" %>
<% end %>
