<h1>確認画面</h1>
<%= form_with(model: @user, url: users_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :password %>
  <%= form.hidden_field :password_confirmation %>
  <%= hidden_field_tag :"cache[image]",@user.icon_image.cache_name %>

  <p>名前:<%= @user.name %></p>
  <p>メールアドレス:<%= @user.email %></p>
  <p>パスワード:<%= @user.password %></p>
  <p>
    <%= image_tag(@user.icon_image.url) %>
  </p>
  <%= form.submit "登録する" %>
<% end %>

<%= form_with(model:@user, url:new_user_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= hidden_field_tag :"cache[icon_image]",@user.icon_image.cache_name %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
