
<h4 class="user_infomation"><%= @user.name %>のページ</h4>
<p class="user_infomation_image">
  <%= image_tag @user.icon_image %>
</p>
<p class="user_infomation">メールアドレス: <%= @user.email %></p>
<p class="user_infomation">
  <%= link_to 'ユーザー情報を編集', edit_user_path(@user.id), class: 'btn btn-warning' %>
</p>

<div class="container">
  <h1>お気に入り投稿一覧</h1>

  <table>
    <tr>
      <th class="index_favorite_picture_user_name">投稿者名</th>
      <th class="index_favorite_picture_title">タイトル</th>
      <th class="index_favorite_picture_content">内容</th>
      <th class="index_favorite_picture_content">image</th>
    </tr>

  <% if !@favorites_pictures.nil? %>
    <% @favorites_pictures.each do |favorites_picture| %>
      <tr>
        <td class="index_favorite_picture"><%= favorites_picture.user.name %></td>
        <td class="index_favorite_picture"><%= favorites_picture.title %></td>
        <td class="index_favorite_picture"><%= favorites_picture.content %></td>
        <td class="index_favorite_picture_image">
          <%= image_tag favorites_picture.image %>
        </td>
      </tr>
    <% end %>
  <% end %>

  </table>
</div>
