<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= hidden_field_tag :"cache[image]",@picture.image.cache_name %>

  <p>タイトル:<%= @picture.title %></p>
  <p>本文:<%= @picture.content %></p>
  <p>
    <%= image_tag(@picture.image.url) %>
  </p>
  <%= form.submit  "投稿する" %>
<% end %>

<%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= hidden_field_tag :"cache[image]",@picture.image.cache_name %>
  <%= form.submit "もどる", name: 'back' %>
<% end %>
